.Modal{
  /* height: 70vh; */
  overflow: hidden;
}

.Form {
  padding: 1.25rem;
  height: 58vh;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; 
}
.Form::-webkit-scrollbar { width: 0 !important }