.CardRight {
	text-align: center;

	width: 18rem;
}

.ImgLogo {
	margin-bottom: 2rem;
}

.WrapperCardImage {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.75rem;
	border-radius: 0.5rem;
	width: 8rem;
	height: 8rem;
	overflow: hidden;
}

.CardImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.ListTitle {
	display: block;
	color: black;
	margin: 0;
}
.ListTitleTrigger {
	display: block;
	color: #570ece;
	margin: 0;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}
.ListTitleTrigger:hover {
	display: block;
	color: #b80ece;
	margin: 0;
}

.BadgeWarning {
	background-color: #faefe0;
	color: #ff9900;
	border-radius: 0.5rem;
	padding: 0.3rem 1.25rem;
}

.BadgeSuccess {
	background-color: #e4f8e5;
	color: #23e941;
	border-radius: 0.5rem;
	padding: 0.3rem 1.25rem;
}
.TextSuccess {
	color: #23e941;
}
