.navbarBrand {
  margin-right: auto;

}
@media (min-width: 1400px) {
  .navbarBrand{
    margin-right:25rem;
    padding-left: 3rem;
  }
}

.inputGroup{
  width:100%;
  margin-top: 20px;
  padding: auto 3rem;
}

@media (min-width: 1400px) {
  .inputGroup{
    width:28rem;
    margin-top: auto;
  }
}

.dropMenu {
  display: inline-flex;
  gap: 1rem;
}
.dropdown-menu{
  margin-top: .5rem !important;
}
.dropdown-menu::before {
  position: absolute;
  top: -13px;
  right: 12px;
  display: inline-block;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #CCC;
  border-left: 13px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.dropdown-menu::after {
   position: absolute;
   top: -11.5px;
   right: 13px;
   display: inline-block;
   border-right: 12.3px solid transparent;
   border-bottom: 12.3px solid white;
   border-left: 12.3px solid transparent;
   content: '';
 }