.MaxWidth {
  padding-top: 5.75rem;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.WrapperPrimaryImage {
  margin-top: 20px;
  height: 475px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.WrapperSubImage {
  position: relative;
  height: 225px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  
}
.PrimaryImage {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* position-ima */
  
}
.ImageMore {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 24px;
  background-color: rgba(133, 133, 133, 0.5);
  /* filter: blur(.5); */
  /* opacity: .5; */
  backdrop-filter: opacity(0.5);
}

.BookingTitle {
  font-size: 2.5rem;
  font-weight: 700;
}

.BookingDesc {
  width: 100%;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}
.WrappingBookingDesc {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (min-width:"1440px") {
  .BookingDesc {
  flex-direction: column;
  }

  .WrappingBookingDesc {
    flex-direction: row;
    /* display: flex;
    gap: 3; */
  }
  
}